.analytics {
    background-color: #FBF2F1;

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #ff3048;
        font-size: 21px;
        font-weight: 700;
        margin-top: 80px;
        margin-bottom: 21px;
    }

    p {
        text-align: justify;
        text-align: center;
    }

    .circle-block {
        margin-top: 53px;
        margin-bottom: 106px;
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        color: #ff3048;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        height: 150px;

        &-description {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            color: #797474;
            font-weight: 700;
            text-align: center;
            margin-top: 31px;
        }
    }

    .carousel {
        margin-bottom: 122px;

        &-control-next {
            right: 62px;
        }

        &-control-next-icon {
            width: 21px;
            height: 30px;
            background-image: url("../img/Right_arrow.png");
        }

        &-control-prev-icon {
            width: 21px;
            height: 30px;
            background-image: url("../img/Left_arrow.png");
        }

        &-control-prev {
            left: 62px;
        }



        &-indicators {
            bottom: -53px;

            .active {
                background-color: #EB3F44;
            }

            li {
                width: 16px;
                height: 16px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border-width: 2px;
                border-style: solid;
                border-color: #EB3F44;
                margin-left: 18px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
