.analytics {
    background-color: #FBF2F1;

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #ff3048;
        font-size: 21px;
        font-weight: 700;
        margin-top: 80px;
        margin-bottom: 21px;
    }

    p {
        text-align: justify;
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        color: #ff3048;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        height: 150px;

        &-description {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            color: #000000;
            font-weight: 700;
            text-align: center;
            margin-top: 31px;
        }
    }
}
