.cpa-model {
  h2 {
    margin-top: 90px;
    margin-bottom: 31px;
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    font-size: 36px;
    font-weight: 700;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ff3048;
    font-size: 21px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 56px;
  }

  p {
    font-family: 'Raleway', sans-serif;
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 33px;
  }
}
