.footer {
    background-image: url("../img/texture_bg.jpg");
    background-size: cover;
    margin-top: 127px;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: #ff3048;
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        text-align: center;
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #fff;
        margin-bottom: 50px;

        &:last-child {
            margin-top: 42px;
            font-size: 21px;
            font-weight: 700;
        }
    }

    input {
        text-align: center;
        width: 506px;
    }

    .btn {
        background: -webkit-linear-gradient(90deg, #de6262 0%, #ffb88c 100%);
        background: -moz-linear-gradient(90deg, #de6262 0%, #ffb88c 100%);
        background: -o-linear-gradient(90deg, #de6262 0%, #ffb88c 100%);
        background: -ms-linear-gradient(90deg, #de6262 0%, #ffb88c 100%);
        background: linear-gradient(0deg, #de6262 0%, #ffb88c 100%);
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.21);
        width: 264px;
        height: 57px;
        border: none;
        border-radius: 50px;
        color: #fff;
        margin-top: 31px;
        margin-bottom: 60px;
    }

    span {
        font-family: 'Raleway', sans-serif;
        color: #ff3048;
        font-size: 48px;
        font-weight: 900;
        line-height: 52px;
        text-align: center;
        margin-top: 85px;
        margin-bottom: 98px;
    }
}
