.geotargeting {
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ff3048;
    font-size: 21px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 21px;
  }

  p {
    text-align: justify;
    text-align: center;
  }

  img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 90px;
  }
}
