.header {
    background-image: url("../img/header_bg.jpg");
    background-repeat: no-repeat;
    color: #fff;

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 46px;
        font-weight: 700;
        margin-top: 367px;
        margin-bottom: 53px;
        line-height: 1.2;
    }

    p {
        margin-bottom: 530px;
    }
}
