.how-it-works {
    h2 {
        margin-top: 109px;
        margin-bottom: 125px;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 700;
    }

    .card-block {
        margin-bottom: 203px;
    }

    .card {
        &-title {
            font-family:'Montserrat', sans-serif;
            color: #ff3048;
            font-size: 21px;
            font-weight: 700;
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }
}
