.how-we {
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 700;
        margin-top: 107px;
    }

    p {
        font-size: 16px;
        line-height: 23px;
        margin-top: 31px;
        margin-bottom: 115px;
    }
}
