.yandex-audience {
    background-color: #FBF2F1;
    overflow: auto;

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #ff3048;
        font-size: 21px;
        font-weight: 700;
        margin-top: 80px;
        margin-bottom: 21px;
    }

    p {
        text-align: justify;
        text-align: center;
    }

    .card-block {
        margin-top: 127px;
        margin-bottom: 161px;
    }

    .figure-img {
        margin-bottom: 39px;
    }

    .figure-caption {
        width: 80%;
        margin: 0 auto;
        font-family: "Montserrat", sans-serif;
        color: #797474;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}
