@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.btn {
	width: 264px;
	height: 57px;
	background-image: linear-gradient(0.0deg, #de6262 0%, #ffb88c 100%);
	border: none;
	border-radius: 41.0px;
	color: #f7f7f7;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;


	&:hover {
		cursor: pointer;
		color: #f7f7f7;
	}

	&:active {
		background-color: #ce2029;
		background-image: none;
		outline: none;
	}

	&:focus {
		outline: none;
	}
}



@import "_header";
@import "_how-it-works";
@import "_where";
@import "_why-we";
@import "_register-audit-one";
@import "_how-we";
@import "_analytics";
@import "_geotargeting";
@import "_yandex-audience";
@import "_results";
@import "_cpa-model";
@import "_register";
@import "_footer";
@import "media"; // Always at the end
